h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}
h3 {
  font-size: 1.5em;
  font-weight: bold;
  color: #777777;
  margin: 10px;
  text-align: center;
}

.imageBtn {
	cursor: pointer;
}

/*Fix to avoid border being messed up when increasing width decoratorpanel*/
.gwt-DecoratorPanel .topLeft,
.gwt-DecoratorPanel .topRight {
    width: 5px;
}

.tableBorders td {
	border: 1px solid #BBBBBB;
	padding: 3px;
}

.tableHeader td {
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	color: #777777;
}